# Estimate capture condition for capture planning

In [1]:
from datetime import datetime, timedelta
    
from skyfield.api import load

from capture_plan import capture_plan
import time_utils

### Load existing satellite from NORAD database

In [2]:
resource_url = 'http://celestrak.com/satcat/tle.php?CATNR=40299'

fname = 'tle_hodoyoshi_1.txt'
satellites = load.tle(resource_url, filename=fname, reload=False)

satellite = satellites['HODOYOSHI-1']
print(satellite)

EarthSatellite 'HODOYOSHI-1' number=40299 epoch=2019-01-11T22:09:36Z

### Set requirement

In [3]:
date_from = datetime(2018,1,15,0,0,0,0)
date_to = datetime(2018,1,30,0,0,0,0)
freq = 5 # generate data point every 5 seconds
target_lat, target_lon, target_altitude = 28.55, 23.39, 118 # Libya 4
min_off_nadir_angle = 0
max_off_nadir_angle = 20
min_satellite_elevation_angle = 0
max_satellite_elevation_angle = 90
min_solar_elevation_angle = 35
max_solar_elevation_angle = 90

# Range of local time is from 11:00 to 11:30 or from 22:30 to 24:00 in this example.
# You can set local time range by using time_utils.time_range function.
local_time_range = time_utils.time_range(
    start_times = (
        timedelta(hours=11, minutes=0, seconds=0, microseconds=0),
        timedelta(hours=22, minutes=30, seconds=0, microseconds=0)
    ),
    end_times = (
        timedelta(hours=11, minutes=30, seconds=0, microseconds=0),
        timedelta(hours=24, minutes=0, seconds=0, microseconds=0)
    )
)
### # Or set local time range by using TimeRange class directly.
### local_time_range = time_utils.TimeRange([
###    (timedelta(hours=11, minutes=0, seconds=0, microseconds=0), timedelta(hours=11, minutes=30, seconds=0, microseconds=0)),
###    (timedelta(hours=22, minutes=30, seconds=0, microseconds=0), timedelta(hours=24, minutes=0, seconds=0, microseconds=0)),
### ])

### Run

In [4]:
df = capture_plan(satellite, target_lat, target_lon, target_altitude, date_from, date_to, freq,
                  min_off_nadir_angle=min_off_nadir_angle,
                  max_off_nadir_angle=max_off_nadir_angle, 
                  min_satellite_elevation_angle=min_satellite_elevation_angle,
                  max_satellite_elevation_angle=max_satellite_elevation_angle,
                  min_solar_elevation_angle=min_solar_elevation_angle,
                  max_solar_elevation_angle=max_solar_elevation_angle, 
                  local_time_range=local_time_range)

In [5]:
df.head(30)

,off_nadir_angle,satellite_elevation_angle,solar_elevation_angle,local_time
datetime,,,,
2018-01-17 09:46:55+00:00,18.987646,69.454655,39.305098,11:20:28.600000
2018-01-17 09:47:00+00:00,15.561895,73.179237,39.309853,11:20:33.600000
2018-01-17 09:47:05+00:00,12.172398,76.853590,39.314600,11:20:38.600000
2018-01-17 09:47:10+00:00,9.064368,80.215724,39.319339,11:20:43.600000
2018-01-17 09:47:15+00:00,6.847138,82.611154,39.324071,11:20:48.600000
2018-01-17 09:47:20+00:00,6.620214,82.856116,39.328796,11:20:53.600000
2018-01-17 09:47:25+00:00,8.549425,80.771893,39.333512,11:20:58.600000
2018-01-17 09:47:30+00:00,11.548350,77.528302,39.338222,11:21:03.600000
2018-01-17 09:47:35+00:00,14.902112,73.893681,39.342923,11:21:08.600000
2018-01-17 09:47:40+00:00,18.321576,70.177348,39.347618,11:21:13.600000
2018-01-22 09:38:35+00:00,19.827704,68.530792,39.716281,11:12:08.600000
2018-01-22 09:38:40+00:00,17.932063,70.595956,39.722033,11:12:13.600000
2018-01-22 09:38:45+00:00,16.628741,72.013387,39.727776,11:12:18.600000
2018-01-22 09:38:50+00:00,16.117077,72.569227,39.733513,11:12:23.600000
2018-01-22 09:38:55+00:00,16.490730,72.162917,39.739241,11:12:28.600000
2018-01-22 09:39:00+00:00,17.678786,70.870553,39.744963,11:12:33.600000
2018-01-22 09:39:05+00:00,19.491075,68.896146,39.750677,11:12:38.600000
2018-01-26 09:50:30+00:00,19.892145,68.455486,41.345160,11:24:03.600000
2018-01-26 09:50:35+00:00,17.944128,70.578360,41.350016,11:24:08.600000
2018-01-26 09:50:40+00:00,16.570138,72.073007,41.354863,11:24:13.600000
2018-01-26 09:50:45+00:00,15.977182,72.717309,41.359703,11:24:18.600000
2018-01-26 09:50:50+00:00,16.274065,72.394420,41.364535,11:24:23.600000
2018-01-26 09:50:55+00:00,17.403305,71.166037,41.369360,11:24:28.600000
2018-01-26 09:51:00+00:00,19.178555,69.232139,41.374176,11:24:33.600000

In [6]:
# Save as CSV file
df.to_csv('capture_plan_hodoyoshi_in_Libya4.csv')